* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* height: 100vh; */
  background-image: linear-gradient(#aa076b, #61045f);
}
.card {
  width: 400px;
}
@media (max-width: 900px) {
  body {
    gap: 25px;
  }
  .card {
    width: 350px;
  }
}
@media (max-width: 730px) {
  body {
    flex-direction: column;
  }
  .hidden {
    display: none;
  }
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.label,
.label2,
.label3 {
  width: 400px;
  height: 30px;
  border: 1px solid;
}
.result-img {
  width: 100%;
  height: 300px;
}
